@using PagedList.Mvc
@model Lekarite.Mvc.Models.Doctors.FilterDoctorsViewModel

@using(Html.BeginForm("All", "Doctors", FormMethod.Get))
{
    @Html.DropDownList("city", Model.Cities)
    @Html.DropDownList("speciality", Model.Specialities)
    <input type="submit"/>
}

<div class="container">
    @foreach (var doctor in Model.Doctors)
    {
        <div class="row">
            <h3>@Html.ActionLink(doctor.FullName, "Get/" + doctor.Id)</h3>
            <p>@("УИН: " + doctor.Uin + ", ")@Html.ActionLink(doctor.City.Name, "/Home")</p>
            <p>@Html.ActionLink(doctor.Specialty.Name, "/")</p>
        </div>
    }
</div>
@Html.PagedListPager(Model.Doctors, page => Url.Action("All", new { page, city = ViewBag.CityId, speciality = ViewBag.SpecialityId }))