@model Lekarite.Mvc.Models.Doctors.DoctorsPageViewModel

<div class="container">
    @foreach (var doctor in Model.Doctors)
    {
        <div class="row">
            <h3>@Html.ActionLink(doctor.FullName, "Get/" + doctor.Id)</h3>
            <p>@("УИН: " + doctor.Uin + ", ")@Html.ActionLink(doctor.City.Name, "/Home")</p>
            <p>@Html.ActionLink(doctor.Specialty.Name, "/")</p>
        </div>
    }
</div>

@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li><a href="~/Doctors/All?page=@Model.PrevPage">&laquo;&nbsp;</a></li>
            @for (int i = -2; i <= 2; i++)
            {
                if (!(Model.CurrentPage + i <= 0 || Model.CurrentPage + i >= Model.PagesCount))
                {
                    if (i == 0)
                    {
                    <li class="active"><a href="~/Doctors/All?page=@(Model.CurrentPage + i)">@(Model.CurrentPage + i)</a></li>
                    }
                    else
                    {
                    <li><a href="~/Doctors/All?page=@(Model.CurrentPage + i)">@(Model.CurrentPage + i)</a></li>
                    }
                }
            }
            <li><a href="~/Doctors/All?page=@Model.NextPage">&nbsp;&raquo;</a></li>
        </ul>
    </div>
    <!--End Pagination-->
}