@model Lekarite.Mvc.Models.Doctors.DoctorViewModel

<div class="row">
    <div class="col-md-8">
        <strong>@Html.ActionLink(Model.FullName, "/Get/" + @Model.Id, "Doctors")</strong>
        <div>practice at</div>
        <div>@Html.ActionLink(@Model.Speciality.Name, "Get", "Specialities")</div>
    </div>
    <div class="col-md-2 text-right">@Model.Comments.Count</div>
    <div class="col-md-2 text-right">@Model.Rating.ToString("F2")</div>
</div>

